<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Nova TG2 Refactor Beta</title>
</head>

<body>
<h2>Recent Updates:</h2>
<ol>
    <li py:for="update in updates">
        <!-- FAILS HERE: unable to read update object but can read updates -->
        <a href="${update.key}" title="${update.name}">${update.name}</a> 
        Last updated: ${update.modified}
    </li>
</ol>
</body>
</html>
