<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">

    <py:def function="sidebar">
        <!--LEFT CONTENT COLUMN -->
        <div class="column-left">

            <!--NOVA LOGO -->
            <div class="content-block full no-float home-logo">
                <img src="${tg.url('/images/nova_logo.png')}" width="268" height="112" alt="NOVA logo" />
            </div>
            <!--END NOVA LOGO -->

            <!--NAVIGATION-Accordion Widget -->
            <div class="content-block full no-float">
                <div class="content">
                    <div id="accordion"> 
                        <h3><a href="#">ABOUT US</a></h3>
                        <div>
                            <ul>
                                <li><a href="about.html">ABOUT US</a></li>
                                <li><a href="contact.html">CONTACT US</a></li>
                            </ul>
                        </div>
                        
                        <h3><a href="#">PROJECTS</a></h3>
                        <div>
                            <ul>
                                <li><a href="projects.html">PROJECTS</a></li>
                              <li><a href="needs.html">NEEDS</a></li>
                             <li><a href="ideas.html">IDEAS</a></li>
                            </ul>
                        </div>

                        <h3><a href="#">PEOPLE</a></h3>
                        <div>
                            <ul>
                                <li><a href="people.html">PEOPLE</a></li>
                             <li><a href="skills.html">SKILLS</a></li>
                            </ul>
                        </div>

                        <h3><a href="#">GROUPS</a></h3>
                        <div>
                            <ul>
                                <li><a href="groups.html">GROUPS</a></li>
                            </ul>
                        </div>

                        <h3><a href="#">EVENTS</a></h3>
                        <div>
                            <ul>
                                <li><a href="events.html">EVENTS</a></li>
                            </ul>
                        </div>

                        <h3><a href="#">RESOURCES</a></h3>
                        <div>
                            <ul>
                                <li><a href="resources.html">RESOURCES</a></li>
                               <li><a href="work_spaces.html">WORKS SPACES</a></li>
                               <li><a href="tools.html">TOOLS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <script>
                    $(function() {
                        $("#accordion").accordion({ collapsible: true,
                                                    active: false});
                    });
                </script>
            </div>
            <!--END NAVIGATION-Accordion Widget --> 

            <!--CALENDAR Widget -->
            <div class="content-block full no-float calendar">
                <h1>Events Calendar</h1>
		        <div class="content">
                    <div id="left-datepicker" class="datepicker" />
                    <script>
                        $(function() {
                            $( "#left-datepicker" ).datepicker();
                        });
                    </script>
		        </div>
            </div>
            <!--END CALENDAR Widget -->
        
            <!--TAG CLOUD-->
            <py:if test="not defined('__notags')">
            <div class="content-block full no-float tag-cloud" py:if="defined('tags')">
		        <h1>Tag Cloud</h1>
		        <div class="content">
                    <ul>
                        <li py:for="tag in tags">
                            <a href="${tg.url('/tag/'+tag.name)}" title="${tag.name}" style="font-size:${(50 if tag.count > 50 else tag.count) + 80}%;">${tag.name}</a> 
                        </li>
                    </ul>
		        </div>
            </div>
            </py:if>
            <!--END TAG CLOUD-->
        
        </div>

        <!--END LEFT CONTENT COLUMN -->
    </py:def>

</html>
