<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Nova TG2 Refactor Beta</title>
  <script type="text/javascript" src="${tg.url('/javascript/img-box.js')}"></script>
  <link rel="stylesheet" type="text/css" href="/css/img-box.css" />

</head>

<body>
    <div class="content-block full">
        <h1>${node.node_type.name.upper()}</h1>
        <div class="content">
            <py:if test="node.pictures is None">
            <img class="head-image" src='/images/no_bio_image.gif' />
            </py:if>
            <py:if test="node.pictures is not None">
            <div class="head-image"></div>
            <script>
                $('.head-image').img_box(${str([p.key.encode() for p in node.pictures])});
            </script>
            </py:if>
            <div class="inner-content">
                <h2>${node.name}</h2>
                ${Markup(node.content)}
            </div>
        </div>
    </div>

    <div class="content-block part_50">
        <h1>BLOG</h1>
        <div class="content">
            <p>
            <ol>
                <li py:for="post in node.blog_posts">${post.created} | ${post.name}
                </li>
            </ol>
            </p>
        </div>
    </div>

    <div class="content-block part">
        <h1>FILES</h1>
        <div class="content">
            <p>Not part of Sprint 1</p>
        </div>
    </div>

    <div class="content-block full">
        <h1>FEEDS</h1>
        <div class="content">
            <p>Not part of Sprint 1</p>
        </div>
    </div>

<h2>Attributes:</h2>
<ul>
    <py:for each="key in dict((k,node.attrs[k]) for k in node.attrs if node.attrs[k].data is not None and node.attrs[k].data is not '')">
    <li py:with="v = node.attrs[key]">
    <py:choose>
        <a py:when="key == u'website'" py:attrs="{'href':v.data, 'title':'%s\'s Website'%node.name}">Website</a>
        <py:when test="key == u'insp-person'">${v.vocab.name}: <a py:attrs="{'href':'/%s'%v.data.key,'title':v.data.name}">${v.data.name}</a>
        </py:when>
        <py:otherwise>${v.vocab.name}: ${v.data}</py:otherwise>
    </py:choose>
    </li>
    </py:for>
</ul>
<h1>Tags</h1>
<ul py:if="hasattr(node, 'tags')">
    <li py:for="tag in node.tags">${tag.name}</li>
</ul>
<h2>Revisions:</h2>
<ol>
    <li py:for="update in revisions">
        ${update.title} on ${update.modified}.
    </li>
</ol>
<p class="guid">GUID: ${node.id}</p>

<div style="float:right;clear:both;">
${qrcode.display()}
</div>

</body>
</html>
