<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Nova TG2 Refactor Beta</title>
</head>

<body>
<div class="container" style="clear:both; padding-top:1em;">
<div style="float:left;width:200px;margin-right:2em;">
  <img style="float:left;" py:attrs="{'src': node.picture if node.picture is not None else '/images/no_bio_image.gif'}" />
</div>

<div style="float:left;">
<h1 style="margin-top:0;">${node.name}<span class="subscript">${node.node_type.name}</span></h1>
<p>${ Markup( markdown.markdown( node.description, safe_mode="replace" ) ) }</p>

<h2>Attributes:</h2>
<ul>
    <py:for each="key in dict((k,node.attrs[k]) for k in node.attrs if node.attrs[k].data is not None and node.attrs[k].data is not '')">
    <li py:with="v = node.attrs[key]">
    <py:choose>
        <a py:when="key == u'website'" py:attrs="{'href':v.data, 'title':'%s\'s Website'%node.name}">Website</a>
        <py:when test="key == u'insp-person'">${v.vocab.name}: <a py:attrs="{'href':'/%s'%v.data.key,'title':v.data.name}">${v.data.name}</a>
        </py:when>
        <py:otherwise>${v.vocab.name}: ${v.data}</py:otherwise>
    </py:choose>
    </li>
    </py:for>
</ul>
${node.watching}
<h2>Revisions:</h2>
<ol>
    <li py:for="update in node.revisions">
        ${update.description} on ${update.modified}.
    </li>
</ol>
<p class="guid">GUID: ${node.id}</p>
</div>
<div style="float:right;clear:both;">
${qrcode.display()}
</div>
</div>
</body>
</html>
