<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Nova - Create a new node</title>
</head>

<body>
    <div class="content-block full">
        <h1>Create a new node</h1>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus purus ut tortor rhoncus at dictum risus adipiscing. Integer in sagittis nibh. Phasellus lacus mi, varius sit amet luctus in, gravida quis mauris. Nulla ligula libero, tincidunt at convallis vel, ultricies eget purus. Sed sit amet purus vel nisl semper semper. Ut porta, leo a commodo feugiat, justo dolor luctus leo, pulvinar vehicula dui enim non tortor. Proin sollicitudin mi sed nisl commodo eleifend. Proin nec elit ante, non porttitor lorem. Vestibulum cursus ultricies risus, eu bibendum est imperdiet sit amet. Phasellus porttitor, sem cursus molestie imperdiet, massa felis convallis lacus, eget fringilla mauris arcu eget tortor. Nullam non ligula elit, ut rhoncus elit. 
            </p>
        </div>
    </div>
    <div class="clear" />
    <div class="content-block full">
        <h1>1. Select a node type</h1>
        <div class="content">
            <ol id="new_node:sel_type">
            </ol>
            <script>
            $(function() {
                $.getJSON('${url("/node/json/get_types")}', function(data) {
                    var items = []
                    $.each(data.types, function(key, val) {
                        $('<li class="new_node_type" id="' + val.key + 
                            '"><img src="/images/types/' + val.icon + 
                            '" title="'+ val.description +
                            '" /><p>'+val.name+'</p></li>').click(function() {
                                toggle_option("new_node\\:sel_type", val.key);
                            }).appendTo("#new_node\\:sel_type");
                    });
                });
            });
            </script>
        </div>
    </div>
    <div class="clear" />
    <div class="content-block part_50">
        <h1>2. Name</h1>
        <div class="content">
            <p>${name_form.display()}</p>
        </div>
    </div>
    <div class="content-block part">
        <h1>3. Tags</h1>
        <div class="content">
            <p>${tag_list.display()}</p>
        </div>
    </div>
</body>
</html>
